.board-row {
    display: flex;
}

.square {
    border-color: #1D421E;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    width: 2em;
    height: 2em;
    font-size: 2em;
}

.status {
    font-size: 2em;
}

.nameTest{
    background-color: #c2ffc3;
    display: flex;
    justify-content: center;
}

.tikTak{
    background-color: #c2f5c3;
    display: flex;
    justify-content: center;
}
