
.board-row {
    display: flex;
}

.square {
    border-color: black;
    border-radius: 0;
    border-width: 2px;
    width: 2em;
    height: 2em;
    font-size: 2em;
}

.status {
    font-size: 2em;
}


