body {
    background-color: #cec2ff;
    font-family: "Dubai", serif;
    color: #1D421E;
    margin: 0;
}

a:link{
    color: #1D421E;
}
a:visited{
    color: #1D421E;
}
a:active{
    text-underline: #1D421E;
}

a:hover{
    color: #cec2ff;
}

input[type=text]{
    background-color: #cec2ff;
    border-style: solid;
    border-color: #1D421E;
    padding: 10px;
}
/* Warum funktioniert das nicht :< */
input[type=text]:focus{
    border-style: solid;
    border-radius: 0px;
    border-color: #1D421E;
    background-color: #E2D6FF;

}

button{
    background-color: #cec2ff;
}

button:active{
    background-color: #E2D6FF;
}

p{
    color: #1D421E;
}

/*

.bodyclass{
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.workingclass{
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    width: 150ch;
    padding: 20px
}


 */