body {
  background-color: #cec2ff;
}

a:link{
  color: #1D421E;
}
a:visited{
  color: #1D421E;
}
a:active{
  color: #c2ffc3;
}

a:hover{
  color: #cec2ff;
}

.contentRowOne{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card{
  background-color: #c2ffc3;
  box-shadow: 3px 3px 10px 5px #1D421E;
  border-radius: 3px;
  width: 55ch;
  display: grid;
  grid-template-columns: [line1] auto [line2] 1fr;
  grid-template-rows: [row1] 2em [row2] 1.5em [row3] 1.5em [row4] auto;
  row-gap: 0px;
  grid-template-areas:
    "name pic"
    "title pic"
    "titlelong titlelong"
    "list list"
    ;
}

.card a:active{
  color: #cec2ff;
}

.name{
  grid-area: name;
}

.name h1{
  padding-bottom: 200px;
}

.pic{
  grid-area: pic;
}

.title{
  grid-area: title;
}

.title h2{

}

.titlelong{
  grid-area: titlelong;
}

.titlelong h2{

}

.list{
  grid-area: list;
}

.profilepic{
  height: 5em;
}
